
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
 <a class="navbar-brand mr-0 mr-md-2 nav-logo" href="/" aria-label="Bootstrap">CastmeAPP</a>


  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex cust-nav-ul">
  <li class="nav-item">
      <a class="nav-item nav-link mr-md-2" routerLink="/home">
        Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-item nav-link mr-md-2" routerLink="/about">
       About
      </a>
    </li>
	<li class="nav-item">
      <a class="nav-item nav-link mr-md-2" routerLink="/castme_theatre">
       Cateme Theatre
      </a>
    </li>
	<li class="nav-item">
      <a class="nav-item nav-link mr-md-2" routerLink="/recommendations">
       Casteme Recommendations
      </a>
    </li>
	<li class="nav-item">
      <a class="nav-item nav-link mr-md-2" routerLink="/newbie">
       Find a newbie
      </a>
    </li>
  </ul>

</header>