@import url('https://fonts.googleapis.com/css?family=Cairo:300,400');
@import url('https://fonts.googleapis.com/css?family=Cairo:300,400|Gloria+Hallelujah');
.app-body{
	font-family: 'Cairo', sans-serif;
}
.m-b-20{
	margin-bottom:20px;
}
.m-t-50{
	margin-top:50px;
}